<div id="home" class="hide row valign-wrapper">

    <div class="col s12 l12 center-align valign">

      <h1 class=" huge slab-font hide-on-small-only">Welcome to Nexus</h1>
      <!--
        <h1 class="deep-purple-text huge text-accent-1 slab-font hide-on-small-only">Welcome to Nexus</h1>
      -->
      <h1 class="deep-purple-text text-accent-1 slab-font hide-on-med-and-up">Welcome to Nexus</h1>

      <p class="lead">Please sign-up below</p>

      <form class="col s12 l12">
          <div class="input-field offset-m3 col m8 s12">
              <input type="text" class="hide-on-small-only center-align col s12 m8 validate" title="Enter you email." placeholder="Enter your email address" />
              <button data-target="sign-up" class="btn col s5 m3 l2 modal-trigger
                       grey lighten-4 deep-purple-text
                       text-darken-4 waves-effect
                       waves-dark btn modal-trigger">
                  Sign Up</button>
              <button data-target="log-in" class="btn col s5 offset-s2 hide-on-med-and-up modal-trigger
                         grey lighten-4 deep-purple-text
                         text-darken-4 waves-effect
                         waves-dark btn modal-trigger">
                  Log In</button>
          </div>
      </form>

  </div>

</div>



<div id="home" class="row valign-wrapper">

  <div class="col s12 l12 center-align valign">

    <h1 class="huge slab-font hide-on-small-only">Welcome to Nexus</h1>
    <h1 class="slab-font hide-on-med-and-up">Welcome to Nexus</h1>
    <p class="lead">Please sign-up below</p>
    <form class="col s12 l12">
      <div class="input-field offset-m3 col m8 s12">
        <input type="text" class="hide-on-small-only center-align col s12 m8 validate" 
          title="Enter you email." placeholder="Enter your email address"/>
          <button data-target="sign-up" 
          class="btn col s5 m3 l2 modal-trigger waves-effect waves-dark btn modal-trigger">
          Sign Up</button>
          <button data-target="log-in" 
          class="btn col s5 offset-s2 hide-on-med-and-up modal-trigger waves-effect waves-dark btn modal-trigger">
          Log In</button>
      </div>
    </form>
    
  </div>

</div>