<!--settings-->
<div id="settings" class="modal front">
  <%= render "layouts/modals/form", subject: @account || current_account, id: "settings-form", title: "Settings", link: "Update", unchanged: true %>
</div>
<!--end settings-->