<!-- sign-up -->
<div id="sign-up" class="modal front">
  <%= render "layouts/modals/form", subject: @account, id: "sign-up-form", title: "Sign up", link: "Sign up", unchanged: nil %>
</div>
<!-- sign-up end -->