<ul id="nav-desktop" class="right hide-on-small-only">
  <li><a data-activates="search" href="#" class="button-search">
    <label for="search">
      <i class="material-icons left">search</i>
      <span class="hide-on-med-and-down" >Search</span>
    </label>
    </a>
  </li>
  <li><a href="#">
      <i class="material-icons left">send</i>
      <span class="hide-on-med-and-down" >Sent</span>
      </a>
  </li>
  <li><a href="#">
      <i class="material-icons left">report_problem</i>
      <span class="hide-on-med-and-down" >Junk</span>
      </a>
  </li>
  <li><a href="#">
      <i class="material-icons left">delete</i>
      <span class="hide-on-med-and-down" >Trash</span>
      </a>
  </li>
  <li><a data-activates="options" href="#" class="dropdown-button button-options">
      <i class="material-icons left">more_horiz</i>
      <span class="hide-on-med-and-down" >Options</span>
      </a>
      <!--options window-->
      <%= render "layouts/header/account_status" %>
      <!--end options window-->
  </li>
</ul>