<ul id="nav-desktop" class="right hide-on-small-only">
  <li><a data-activates="search-form" href="#" class="button-activation">
      <i class="material-icons left">search</i>
      <span class="hide-on-med-and-down" >Search</span>
    <label for="search"><!--
      <i class="material-icons left">search</i>
      <span class="hide-on-med-and-down" >Search</span>
      -->
    </label>
    </a>
  </li>
  <% button_to_hide = yield(:hider) %>
  <% category_view = [:inbox,:sent,:spam,:trash] %>
  <% icon_view = {inbox: "mail", sent: "send", spam: "report_problem", trash: "delete"} %>
  <% category_view.each do |category| %>
    <% unless button_to_hide.downcase.intern == category %>
      <li>
        <%= link_to method(category.to_s+"_path").call do %>
          <i class="material-icons left"><%= icon_view[category] %></i>
          <span class="hide-on-med-and-down" ><%= category.to_s.capitalize %></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <li><a data-activates="options" href="#" class="dropdown-button button-options">
      <i class="material-icons left">more_horiz</i>
      <span class="hide-on-med-and-down" >Options</span>
      </a>
      <!--options window-->
      <%= render "layouts/header/account_status" %>
      <!--end options window-->
  </li>
</ul>