<ul class="side-nav" id="mobile-demo">
  <div class="card">
    <div class="card-image">
      <img class="" src="https://s-media-cache-ak0.pinimg.com/originals/99/a2/65/99a265b17595caaaa2c382e168a5e32b.jpg">
     <!-- the overlay adds a tint to the photo -->
      <div class="overlay"></div>
      <span class="card-title">
        <h5 class="white-text fw300">Mohamed A.</h5>
      </span>
    </div>
    <div class="card-content hide">
      <!-- blank for now... -->
    </div>
    <div class="card-action hide">
      <a href="#">This is a link</a>
      <a href='#'>This is a link</a>
    </div>
  </div>
  <li><a href="sass.html">
    <i class="mdi-content-mail right"></i>Inbox</a>
  </li>
  <li><a href="components.html">
    <i class="mdi-content-send right"></i>Sent</a>
  </li>
  <li><a href="javascript.html">
    <i class="mdi-action-report-problem right"></i>Junk</a>
  </li>
  <li><a href="mobile.html">
    <i class="mdi-action-delete right"></i>Trash</a>
  </li>
  <div class="divider"></div>
  <div class="section grey-text text-darken-2">
    <h5 class="fw300">Account</h5>
  </div>
  <!-- the href attribute matches the button with the model -->
  <li><a href="#settings" class="button-settings">
    <i class="mdi-action-settings right"></i>Settings</a>
  </li>
  <li>
    <a href='#'>Signout</a>
  </li>
</ul>