.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 150, 136, 0.4);
}
img {
  object-fit: cover;
  object-position: 0% 20%;
}
.fw300 {
  font-weight: 300;
}
.card {
  color: rgba(0,0,0,0.87);
  line-height: 1.5;
  margin: 0px;
  transition: all 0.2s;
}
.huge {
    font-size: 80px;
}
/* nav fixes for materialize */
label {
  /* overrides the default font color of labels to white */
  // font-size: 1rem;
  /* overrides the default font size of labels of 0.8em in materialize.css */
  // color: white;
  /* makes the search the cursor a pointer when it hovers over search icon */
  // cursor: pointer;
}
.slab-font {
    font-family: "Antic Slab", serif;
}
@mixin visibility($bool) {
  @if $bool == 1 {
    visibility: visible;
    } @else {
    visibility: hidden;
    }
  opacity: $bool;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.base {
  background-color: $primary-color !important;
}
.bright {
  background-color: $primary-color-light !important;
}
.dark {
  background-color: $primary-color-dark !important;
}
.accent {
  background-color: $secondary-color !important;
}
.text-primary {
  color: $primary-text-color !important;
}
.text-secondary {
  color: $secondary-text-color !important;
}
.text-primary-light {
  color: $primary-text-color-light !important;
}
.text-secondary-light {
  color: $secondary-text-color-light !important;
}
.text-accent {
  color: $secondary-color !important;
}
.link {
  color: $link-color !important;
}