.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 150, 136, 0.4);
}
img {
  object-fit: cover;
  object-position: 0% 20%;
}
.fw300 {
  font-weight: 300;
}
.card {
  color: rgba(0,0,0,0.87);
  line-height: 1.5;
  margin: 0px;
  transition: all 0.2s;
}
.huge {
    font-size: 80px;
}
/* nav fixes for materialize */
nav {
  &.transparent {
    box-shadow: 0 0 0 0;
  }
  .nav-wrapper {
    padding: 0 30px;
  }
  .brand-logo {
    color: inherit;
  }
  a {
    color: inherit;
  }
  h4 {
    margin: 0;
    line-height: inherit;
  }
  ul a {
    color: inherit;
  }
}
label {
  /* overrides the default font color of labels to white */
  font-size: 1rem;
  /* overrides the default font size of labels of 0.8em in materialize.css */
  color: white;
  /* makes the search the cursor a pointer when it hovers over search icon */
  cursor: pointer;
}
.slab-font {
    font-family: "Antic Slab", serif;
}
@mixin visibility($bool) {
  @if $bool == 1 {
    visibility: visible;
    } @else {
    visibility: hidden;
    }
  opacity: $bool;
}