<nav class="hide transparent grey-text text-lighten-2">
  <div class="nav-wrapper">
    <!--
      <a href="#home" id="logo" class="hide-on-med-and-up brand-logo slab-font">Nexus</a>
    -->
    
      <a href="" id="logo" class="hide-on-med-and-up brand-logo slab-font">Nexus</a>
    
    <div class="row">
      <h4 class="col l6 m4 hide-on-small-only">
      <!--
        <a href="#home" id="logo" class="slab-font">Nexus</a>
        -->
        <a href="/" id="logo" class="slab-font">Nexus</a>
      </h4>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li>
          <button data-target="log-in" 
                  class="btn modal-trigger
                         grey lighten-4 deep-purple-text
                         text-darken-4 waves-effect
                         waves-dark btn modal-trigger">
            Log In</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
  
  
<nav class="transparent text-primary-light">
  <div class="nav-wrapper">
    
      <a href="" id="logo" class="hide-on-med-and-up brand-logo slab-font">Nexus</a>
    
    <div class="row">
      <h4 class="col l6 m4 hide-on-small-only">
        <a href="/" id="logo" class="slab-font">Nexus</a>
      </h4>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li>
          <button data-target="log-in" 
                  class="btn modal-trigger waves-effect
                         waves-dark btn modal-trigger">
            Log In</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
  