<!-- logged-out navbar -->
<% unless logged_in? %>
  <nav class=" transparent z-depth-0">
    <div class="container nav-wrapper">
    <a href="/" id="logo" class="brand-logo text- slab-font">Nexus</a>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li>
          <button data-target="log-in" class="btn modal-trigger waves-effect waves-dark ">
            Log In</button>
        </li>
      </ul>
  </div>
  </nav>
<% end %>
<!--end logged-out navbar -->
 
<!-- logged-in navbar -->
<% if logged_in? %>
  <div class=" navbar-fixed">
    <nav class="dark">
      <div class="row nav-wrapper">
          <!--collapse-->
        <a href="#" data-activates="mobile-demo" class="col s1 button-collapse hide-on-med-and-up">
          <i class="material-icons">menu</i></a>
        <!--end collapse-->
        <!-- right nav desktop -->
        <%= render "layouts/header/navigation" %>
        <!-- end right nav desktop -->
        <!--logo-->
        <a href="/" class="hide-on-med-and-up slab-font brand-logo">Sent</a>
        <h4 class="hide-on-small-only col s4"><a href="/" class="slab-font">Sent</a></h4>
        <!--end logo-->
        <!--side nav-->
        <%= render "layouts/header/side_nav" %>
        <!--side nav end-->
        <!--search-->
        <form id="search-form" class="col s12">
          <div class="input-field">
            <input id="search" type="search" class="white">
            <button type="reset">
              <i class="mdi-navigation-close"></i></button>
          </div>
        </form>
        <!--search end-->
        <!--search icon-->
        <a href="#" data-activates="search" class="col right button-search hide-on-med-and-up">
          <label for="search">
            <i class="mdi-action-search"></i></label></a>
        <!--search icon end-->
      </div>
    </nav>
  </div>
<% end %>
<!--end logged-in navbar -->