<% provide(:title, "All accounts page #{params[:page]}") %>

<h1>All accounts</h1>

<div class="row">
  <div class="col accent card valign-wrapper">
    <%= pagination_change %>
  </div>
</div>

<ul class="accounts collection text-primary">
  <% @accounts.each do |account| %>
    <%= render account %>
  <% end %>
</ul>

<div class="row">
  <div class="col accent card valign-wrapper">
    <%= pagination_change %>
  </div>
</div>
