<% provide(:title, @account.first_name) %>
<% provide(:logo, @account.first_name) %>
<%# provide(:hider, "sent") %>

<% provide(:body, "grey lighten-2") %>
<div class="row">
  <br/>
  <aside class="col s12 m5">
    <%= render "shared/account_info", account: @account %>
  </aside>
  <% if @messages.any? %>
    <!-- content -->
    <div id="content" class="col s12 m7 grey lighten-2">
      <h3 id="messages-count" class="text-secondary">Messages (<%= @messages.count %>)</h3>
      <div class="messages">
        <%= render "shared/content", messages: @messages, show_sender: false %>
        <br/>
        <%= pagination_change @messages %>
      </div>
    </div>
    <!-- content end -->
    <% end %>
</div>